body
{
	background-color: #303030;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
 #container 
 {
	 width:1000px;
	 margin-left: auto;
	 margin-right: auto;
 }
 
 .rectangle
 {
	 width:960px;
	 margin:20px;
 }
 .square
 {
	 width:50%;
	 float:left;	  
 }
 
 #logo
 {	  
	 font-family: 'Advent Pro', sans-serif;
	 font-size: 64px;
	 float:left;
 }

 #zegar
 {
	 float:right;
     font-family: 'Marcellus SC', serif;
	 font-size: 30px;
	 
 }
 
 #foto
 {
	 margin:10px;	
         margin-left:90px;
         margin-bottom:25px;	 
	 width: 200px;
	 height: 320px;
	 background-color:#04444e;
 }
  
  .fb
 {
	 margin:10px;
	 float:left;
	 background-color:#4468b3;
	 width:92px;
	 height: 92px;
	 
 }
 .fb:hover
 {
	 background-color:#3357a2;
 } 
	 
 .github
 {
	 margin:10px;
	 float:left;
	 background-color:#555555;
	 width:92px;
	 height: 92px;
}
.github:hover
 {
	 background-color:#444444;
 } 
 .skype
 {
	 margin:10px;
	 float:left;
	 background-color:#12a5f4;
	 width:92px;
	 height: 92px;
 }
 .skype:hover
 {
	 background-color:#0194e3;
 } 
 .linkedin
 {
	 margin:10px;
	 float:left;
	 background-color:#0e76a8;
	 width:92px;
	 height: 92px;
 }
 .linkedin:hover
 {
	 background-color:#0d6597;
 } 
 
 .cv
 {
	 margin:10px;
	 float:left;
	 background-color:#000071;
	 width:220px;
	 height: 38px;
	 font-size:25px;
	 padding-top:10px;
	 text-align: center;
	 font-family: 'Marcellus SC', serif;
 }
.cv:hover
 {
	 
	 background-color:#0d4597;
	
	 
 }
 .opis
 {
	 font-size:20px;
	 text-align: center;
	 color:#000000;
	 margin:10px;
	 float:left;
	 background-color:#fff458;
	 width:460px;
	 height: 370;
	 font-family: 'Open Sans', sans-serif;
 }